html { font-size: 62%; }
body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
    max-width: 60vw;
    margin: 0 auto;
    padding: 2rem;
}
summary { cursor: pointer; }
pre code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 0.3rem solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1rem 1.6rem;
    display: block;
    word-wrap: break-word;
}

td, th {
    padding: 0.5rem;
}

.caption {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
}

.contact-form-container{
    border: 3px solid lightgray;
    padding: 1.5rem;
}

.tutorial{
    background-color: aliceblue;
    padding: 2rem;
}

summary{
    font-size: 1.8rem;
    font-weight: bold;
}

.to-do{
    font-size: 1.5rem;
    font-weight:bold;
    color: green;
    list-style: none;
}

.to-do:before{
    content: '✓  ';
}